Documentation:
  CommentFormat: Doxygen
Diagnostics:
  UnusedIncludes: Strict
  MissingIncludes: Strict
  Includes:
    IgnoreHeader:
      - "bits/.+h" # https://github.com/llvm/llvm-project/issues/68213
      - "eigen3/Eigen/.+h"
  ClangTidy:
    FastCheckFilter: None
    Remove:
      - readability-inconsistent-declaration-parameter-name # Unable to be suppressed by NOLINT
CompileFlags:
  Add:
    - "-Wextra-semi"
