BasedOnStyle: WebKit

ColumnLimit: 110

IndentWidth: 4
ContinuationIndentWidth: 4
ConstructorInitializerIndentWidth: 4
AccessModifierOffset: -4

Standard: c++20

MaxEmptyLinesToKeep: 1

AlignAfterOpenBracket: Align

AlignArrayOfStructures: Right

BinPackParameters: false
BinPackArguments: false

BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: True
  AfterEnum: True
  AfterStruct: True
  AfterUnion: True
  AfterClass: True
  AfterControlStatement: Never
  AfterExternBlock: True
  AfterFunction: False
  SplitEmptyFunction: False
  SplitEmptyRecord: False
  BeforeCatch: True
  BeforeLambdaBody: False
  BeforeWhile: False

# AlignConsecutiveAssignments:
#     Enabled: true
#     AcrossEmptyLines: false
#     AcrossComments: false
#     AlignCompound: false
#     PadOperators: false
AlignConsecutiveBitFields: None 

# AlignConsecutiveBitFields:
#   Enabled: false
#   AcrossEmptyLines: false
#   AcrossComments: false
AlignConsecutiveBitFields: AcrossComments 

# AlignConsecutiveDeclarations:
#   Enabled: false
#   AcrossEmptyLines: false
#   AcrossComments: true
AlignConsecutiveDeclarations: Consecutive


# AlignConsecutiveMacros:
#   Enabled: false
#   AcrossEmptyLines: false
#   AcrossComments: false
AlignConsecutiveMacros: None

# # AlignConsecutiveShortCaseStatements:
# #     Enabled: false
AlignEscapedNewlines: Left
AlignOperands: AlignAfterOperator
AlignTrailingComments: True
#     Kind: Always
#     OverEmptyLines: 1
# PointerAlignment: Left

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
# AllowShortCaseLabelsOnASingleLine: true

# # IndentPPDirectives: AfterHash
# # PPIndentWidth: 1


BreakBeforeBinaryOperators: NonAssignment
# BreakBeforeConceptDeclarations: Allowed
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
FixNamespaceComments: true
IncludeBlocks: Regroup
IndentWrappedFunctionNames: true

AlwaysBreakTemplateDeclarations: Yes
# IndentRequiresClause: false
# RequiresClausePosition: SingleLine
