[submodule "rmcs_ws/src/serial"]
	path = rmcs_ws/src/serial
	url = https://github.com/Alliance-Algorithm/ros2-serial.git
[submodule "rmcs_ws/src/ugas"]
	path = rmcs_ws/src/ugas
	url = https://github.com/Alliance-Algorithm/UGAS.git
    branch = ros2