[submodule "rmcs_ws/src/serial"]
	path = rmcs_ws/src/serial
	url = https://github.com/Alliance-Algorithm/ros2-serial.git
    branch = ros2
[submodule "rmcs_ws/src/hikcamera"]
	path = rmcs_ws/src/hikcamera
	url = https://github.com/Alliance-Algorithm/ros2-hikcamera.git
[submodule "rmcs_ws/src/fast_tf"]
	path = rmcs_ws/src/fast_tf
	url = https://github.com/qzhhhi/FastTF.git
[submodule "rmcs_ws/src/rmcs_referee"]
	path = rmcs_ws/src/rmcs_referee
	url = https://github.com/Alliance-Algorithm/rmcs_referee
[submodule "tlarc"]
	path = rmcs_ws/src/tlarc
	url = https://github.com/Alliance-Algorithm/TLARC.git
	branch = code@HUNTER
[submodule "rmcs_slam"]
	path = rmcs_ws/src/rmcs_slam
	url = https://github.com/Alliance-Algorithm/rmcs_slam.git
[submodule "rmcs_map"]
	path = rmcs_ws/src/rmcs_map
	url = https://github.com/Alliance-Algorithm/rmcs_map.git
[submodule "rmcs_navigation"]
	path = rmcs_ws/src/rmcs_navigation
	url = https://github.com/Alliance-Algorithm/rmcs_navigation.git
[submodule "livox_ros_driver2"]
	path = rmcs_ws/src/livox_ros_driver2
	url = https://github.com/Livox-SDK/livox_ros_driver2