[submodule "rmcs_ws/src/rmcs_core/librmcs"]
	path = rmcs_ws/src/rmcs_core/librmcs
	url = https://github.com/Alliance-Algorithm/librmcs.git
[submodule "rmcs_ws/src/fast_tf"]
	path = rmcs_ws/src/fast_tf
	url = https://github.com/qzhhhi/FastTF.git
[submodule "rmcs_ws/src/hikcamera"]
	path = rmcs_ws/src/hikcamera
	url = https://github.com/Alliance-Algorithm/ros2-hikcamera.git
[submodule "rmcs_ws/src/serial"]
	path = rmcs_ws/src/serial
	url = https://github.com/Alliance-Algorithm/ros2-serial.git
