services:
  rmcs-develop:
    image: qzhhhi/rmcs-develop:latest
    container_name: rmcs-develop
    user: "developer"
    hostname: "developer"
    privileged: true
    volumes:
      - /dev:/dev:bind
      - /tmp/.X11-unix:/tmp/.X11-unix:bind
      - /run/user/1000/wayland-0:/run/user/1000/wayland-0
      - ~/.config/nvim/:/home/developer/.config/nvim/:bind
      - .:/workspaces/RMCS:bind
    environment:
      - DISPLAY=${DISPLAY}
      - WAYLAND_DISPLAY=${WAYLAND_DISPLAY}
    network_mode: host
    tty: true
    stdin_open: true 

