services:
  rmcs-develop:
    image: qzhhhi/rmcs-develop:latest
    user: "1000:1000"
    volumes:
      - /dev:/dev:bind
      - /tmp/.X11-unix:/tmp/.X11-unix:bind
      - /run/user/1000/wayland-0:/run/user/1000/wayland-0:bind
      - ${HOST_NVIM_DIR}:${CONTAINER_HOME}/.config/nvim/:bind
      - .:/workspaces/RMCS:bind
    environment:
      - DISPLAY=${DISPLAY}
      - WAYLAND_DISPLAY=${WAYLAND_DISPLAY}
    network_mode: host
    tty: true
    stdin_open: true
