rmcs_executor:
  ros__parameters:
    update_rate: 1000.0
    components:
      - rmcs_core::hardware::ec::Status -> ec_status
      - ugas::Component -> ugas
      - rmcs_core::hardware::ec::Command -> ec_command
      - rmcs_core::visualizer::TfVisualizer -> tf_visualizer


ec_status:
  ros__parameters:
    path: /dev/ttyACM0
