rmcs_executor:
  ros__parameters:
    update_rate: 1000.0
    components:
      - "rmcs_core::hardware::Test -> test_hardware"


test_hardware:
  ros__parameters:
      usb_pid_bottom_board: 0x94dc



