<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="omni_description">
  <link
    name="omni_description">
    <inertial>
      <origin
        xyz="-0.0207018233386737 -0.00817215961892502 0.015649407107918"
        rpy="0 0 0" />
      <mass
        value="12.7253768367107" />
      <inertia
        ixx="0.101087782190489"
        ixy="-0.00261280670922718"
        ixz="0.00387243277298574"
        iyy="0.1257966048616"
        iyz="-0.000498016051037601"
        izz="0.180886583671653" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/omni_description.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/omni_description.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="body">
    <inertial>
      <origin
        xyz="-0.0891411750689129 -0.0282474641235061 -0.252587475455594"
        rpy="0 0 0" />
      <mass
        value="7.38762341423434" />
      <inertia
        ixx="0.0990435006357723"
        ixy="0.00938125141331102"
        ixz="0.0202276450248804"
        iyy="0.101429874601762"
        iyz="-0.00511421515719346"
        izz="0.154844092207382" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/body.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/body.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="body"
    type="fixed">
    <origin
      xyz="-0.0118523156712267 0.0356448860509371 0.220657130432317"
      rpy="0 -0.257427286657566 0.586263535297581" />
    <parent
      link="omni_description" />
    <child
      link="body" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="front_left_wheel">
    <inertial>
      <origin
        xyz="-0.0145 0 -1.11022302462516E-16"
        rpy="0 0 0" />
      <mass
        value="0.533176182602155" />
      <inertia
        ixx="0.00156014015731673"
        ixy="8.13151629364128E-20"
        ixz="3.92107847703925E-20"
        iyy="0.000817436842789067"
        iyz="1.0405631885096E-19"
        izz="0.000817436842789067" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/front_left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/front_left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_wheel"
    type="revolute">
    <origin
      xyz="0.13532 0.01052 -0.35759"
      rpy="0.052033 0.25223 0.20573" />
    <parent
      link="body" />
    <child
      link="front_left_wheel" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="front_right_wheel">
    <inertial>
      <origin
        xyz="-0.0145 -1.38777878078145E-17 -1.11022302462516E-16"
        rpy="0 0 0" />
      <mass
        value="0.533176182602155" />
      <inertia
        ixx="0.00156014015731673"
        ixy="0"
        ixz="9.67092878960191E-20"
        iyy="0.000817436842789067"
        iyz="4.59189434683823E-20"
        izz="0.000817436842789066" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/front_right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/front_right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_wheel"
    type="revolute">
    <origin
      xyz="-0.043633 -0.268 -0.31076"
      rpy="-0.25256 0.050385 -1.3781" />
    <parent
      link="body" />
    <child
      link="front_right_wheel" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_left_wheel">
    <inertial>
      <origin
        xyz="-0.0145 -1.38777878078145E-17 0"
        rpy="0 0 0" />
      <mass
        value="0.533176182602155" />
      <inertia
        ixx="0.00156014015731673"
        ixy="0"
        ixz="-1.14198415930064E-20"
        iyy="0.000817436842789067"
        iyz="-5.8057516350459E-20"
        izz="0.000817436842789067" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/back_left_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/back_left_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_left_wheel"
    type="revolute">
    <origin
      xyz="-0.13409 0.1955 -0.28694"
      rpy="0.25256 -0.050385 1.7635" />
    <parent
      link="body" />
    <child
      link="back_left_wheel" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="back_right_wheel">
    <inertial>
      <origin
        xyz="-0.0145 2.77555756156289E-17 -1.11022302462516E-16"
        rpy="0 0 0" />
      <mass
        value="0.533176182602155" />
      <inertia
        ixx="0.00156014015731673"
        ixy="-5.42101086242752E-20"
        ixz="-2.99471370445972E-20"
        iyy="0.000817436842789066"
        iyz="8.52095872708936E-20"
        izz="0.000817436842789066" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/back_right_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/back_right_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="back_right_wheel"
    type="revolute">
    <origin
      xyz="-0.31291 -0.08302 -0.23959"
      rpy="-0.052033 -0.25223 -2.9359" />
    <parent
      link="body" />
    <child
      link="back_right_wheel" />
    <axis
      xyz="-1 0 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="gimbol_yaw">
    <inertial>
      <origin
        xyz="-0.000418768299019823 -3.85108611666851E-16 -0.0356697610188733"
        rpy="0 0 0" />
      <mass
        value="0.296006965244182" />
      <inertia
        ixx="0.00245101679694452"
        ixy="-1.0842021724855E-19"
        ixz="1.00776769706154E-05"
        iyy="0.00145725788442021"
        iyz="6.31886578651708E-19"
        izz="0.00136511673062511" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/gimbol_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/gimbol_yaw.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gimbol_yaw"
    type="revolute">
    <origin
      xyz="-0.036779 -0.03625 -0.10102"
      rpy="0 0.25743 0" />
    <parent
      link="body" />
    <child
      link="gimbol_yaw" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="gimbol_pitch">
    <inertial>
      <origin
        xyz="-0.0540675175179778 -5.25311614346657E-09 0.0537776989933929"
        rpy="0 0 0" />
      <mass
        value="2.85600268929187" />
      <inertia
        ixx="0.0064336238659403"
        ixy="1.2183216105585E-10"
        ixz="0.00134212238936282"
        iyy="0.0129875963565574"
        iyz="3.7263416362041E-10"
        izz="0.0149318473098399" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/gimbol_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/gimbol_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="gimbol_pitch"
    type="revolute">
    <origin
      xyz="0 0 0.0934"
      rpy="0 -0.25743 0" />
    <parent
      link="gimbol_yaw" />
    <child
      link="gimbol_pitch" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="left_launch">
    <inertial>
      <origin
        xyz="-2.77555756156289E-17 6.93889390390723E-18 -0.00484999999999991"
        rpy="0 0 0" />
      <mass
        value="0.0265195187658292" />
      <inertia
        ixx="5.9775879282138E-06"
        ixy="-4.67165284815436E-22"
        ixz="6.35274710440725E-22"
        iyy="5.97758792821379E-06"
        iyz="1.29826492595911E-21"
        izz="1.15393056029814E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/left_launch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/left_launch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_launch"
    type="revolute">
    <origin
      xyz="0.013 0.03625 0.0107"
      rpy="0 0 0" />
    <parent
      link="gimbol_pitch" />
    <child
      link="left_launch" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="right_launch">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 1.73472347597681E-18 -0.00484999999999991"
        rpy="0 0 0" />
      <mass
        value="0.0265195187658292" />
      <inertia
        ixx="5.9775879282138E-06"
        ixy="-3.76709637678514E-22"
        ixz="1.05879118406788E-22"
        iyy="5.97758792821379E-06"
        iyz="1.4929471988187E-22"
        izz="1.15393056029814E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/right_launch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://omni_description/meshes/right_launch.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_launch"
    type="revolute">
    <origin
      xyz="0.013 -0.03625 0.0107"
      rpy="0 0 0" />
    <parent
      link="gimbol_pitch" />
    <child
      link="right_launch" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>