<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="rmcs_ros2_control">
        <ros2_control name="rmcs_hardware_interface", type="system">
            <hardware>
                <!-- <plugin>gazebo_ros2_control/GazeboSystem</plugin> -->
                <plugin>rmcs_hardware_interface/RMCS_HardwareInterface</plugin>
            </hardware>

            <joint name="motor">
                <command_interface name="force">
                    <param name="min" value="-100000"/>
                    <param name="max" value="100000"/>
                </command_interface>

                <state_interface name="position"/>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>

        <!-- <gazebo>
            <plugin filename="libgazebo_ros2_control.so", name="gazebo_ros2_control">
                <parameters>$(find rmcs_bringup)/config/rmcs_controller.yaml</parameters>
            </plugin>
        </gazebo> -->
    </xacro:macro>
</robot>