Language: Cpp
 
BasedOnStyle: WebKit

# 使用空格而不是 Tab
UseTab: Never

# 缩进 4 字符
IndentWidth: 4
TabWidth: 4

# 访问修饰符（public）等靠左对齐
AccessModifierOffset: -4
AlignTrailingComments: true

# 大括号的换行规则
BreakBeforeBraces: Attach

# 最大列宽度
ColumnLimit: 100

# 是否允许短的函数，语句块等单独一行
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: All

BreakBeforeBinaryOperators: NonAssignment
PenaltyBreakAssignment: 2
PenaltyBreakString: 2
AlignConsecutiveAssignments: true