<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:include filename="$(find rmcs_description)/urdf/common.xacro" />

  <xacro:macro name="rmcs" params="prefix parent *origin">
    <!-- LINKS -->
    <!-- base link -->
    <link name="${prefix}base_link">
      <!-- Default inertial for Gazebo/Ingnition - copy and edit block from 'common.xacro'
           to get more realistic behaviour-->
      <xacro:default_inertial/>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.3" radius="0.3" />
<!--           <mesh filename="package://rmcs_description/meshes/rmcs/visual/base_link.dae" /> -->
        </geometry>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <cylinder length="0.3" radius="0.3" />
<!--           <mesh filename="package://rmcs_description/meshes/rmcs/collision/base_link.stl" /> -->
        </geometry>
      </collision>
    </link>

    <!-- All-zero tool frame. This frame should correspond to the TOOL frame of the robot's controller.) -->
    <link name="${prefix}tool0" />
    <!-- tool link -->

    <!-- END LINKS -->

    <!-- JOINTS -->
    <!-- base_joint fixes base_link to the environment -->
    <joint name="${prefix}motor" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${prefix}base_link" />
    </joint>
    <!-- END JOINTS -->
  </xacro:macro>
</robot>
