# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: Test in ubuntu/2204

on:
  pull_request:
    branches: [ "main" ]

jobs:
  docker-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: recursive
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and cache Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./tests/docker/ubuntu22.04.test.dockerfile
          tags: alliance_auto_aim_ci:ubuntu2204-test
          push: false
          cache-from: type=gha
          cache-to: type=gha,mode=max
          load: true

      - name: Run in ubuntu 22.04
        run: |
          docker run --rm alliance_auto_aim_ci:ubuntu2204-test bash -c  "cmake -B build -D ENABLE_TESTS=ON && cd build && make -j && ctest"
